/*********************************************
                    General style
**********************************************/
:root {
  --color-primary: #0064e1;
  --color-primary-light: #6291ff;
  --color-primary-bold: #003bae;
  --color-secondary: #fd0301;
  --color-dark: #000000;
  --color-white: #ffffff;
}
html {
  font-size: 1rem;
}
body {
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

#reglement-page{
  padding: 37px;
}
.reglement_title{
font-style: normal;
font-weight: 700;
font-size: 36px;
color: var(--color-primary);
}
.reglement_list{
  padding: 0 20px !important;
}
.reglement_list li{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-dark);
}